@page "/usersettings"

@using DTOs.Data;

<PageTitle>User Settings</PageTitle>

<MudText Typo="Typo.h3">User Settings</MudText>

<MudGrid>
    <MudItem xs="6">
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Variant="Variant.Filled" Placeholder="@User.Name" Disabled Label="Name"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="@User.Surname" Variant="Variant.Filled" Adornment="Adornment.Start" Disabled Placeholder="Surname"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="@User.PrimaryEmail" Variant="Variant.Filled" Adornment="Adornment.Start" Placeholder="Primary Email" Disabled></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="@User.Role" Variant="Variant.Filled" Adornment="Adornment.Start" Placeholder="Role" Disabled></MudTextField>
        </MudItem>
    </MudItem>
    <MudItem xs="6">
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="int" Label="Phone Number" Required="false" Placeholder="Insert your phone number"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="Secondary Email" Required="false" Placeholder="Insert your back up mail" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="int" Label="Current Year" Required="false" Placeholder="Insert your current year" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="int" Label="Enrollment Year" Required="false" Placeholder="Insert your enrollment year"/>
        </MudItem>
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex align-center justify-space-between mt-6">
            <MudCheckBox T="bool" Class="ml-n2" Label="Recieve notifications by email" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save Settings</MudButton>
        </div>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <SelectCategories></SelectCategories>
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <SelectSubjects></SelectSubjects>
        </MudPaper>
    </MudItem>

</MudGrid>


@code {
    DTOs.Data.UserDTO User = new()
        {
            UserID = 1,
            Name = "Makis",
            Surname = "Kotsabsis",
            PrimaryEmail = "gatoula@gmail.com",
            SecondaryEmail = "gatoulis@gmail.com",
            Role = "Student",
            PhoneNumber = "6969696969",
            EnrollmentYear = 1970,
            CurrentYear = 3

        };

    DTOs.Data.PreferenceDTO Preference = new()
        {
            InMail = true,
            InBrowser = true,
            InPhone = true,
            PauseAlert = false,
            PauseOneDay = false,
            PauseOneHour = false
        };

}


@*
<p>Ajust your settigs according to your needs</p>
<div class="row">
    <div class="col-6 border p-3">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

    </div>

    <TestAPI></TestAPI>

    <div class="col-6 border p-3">
        Name: @User.Name
        <br />
        Surname: @User.Surname
        <br />
        Primary Mail: @User.PrimaryEmail
        <br />
        Role: @User.Role
        <br />

        Enrollment Year :
        <input type="number" @bind-value="@User.EnrollmentYear" @bind-value:event="oninput" />
        <br />

        Current Year :
        <input type="number" @bind-value="@User.CurrentYear" @bind-value:event="oninput" />
        <br />

        Secondary Mail:
        <input type="text" @bind-value="@User.SecondaryEmail" @bind-value:event="oninput" />
        <br />

        Phone Number:
        <input type="text" @bind-value="@User.PhoneNumber" @bind-value:event="oninput" />
        <br />

        Receive Notification on Mail:
        <input type="checkbox" @bind-value="Preference.InMail" checked="@(Preference.InMail?"checked":null)" />
        <br />

        Receive Notification on Browser:
        <input type="checkbox" @bind-value="Preference.InBrowser" checked="@(Preference.InBrowser?"checked":null)" />
        <br />

        Receive Notification on Phone:
        <input type="checkbox" @bind-value="Preference.InPhone" checked="@(Preference.InPhone?"checked":null)" />
        <br />

        Pause Alert for one hour:
        <input type="checkbox" @bind-value="Preference.PauseOneHour" checked="@(Preference.PauseOneHour?"checked":null)" />
        <br />

        Pause Alert for one day:
        <input type="checkbox" @bind-value="Preference.PauseOneDay" checked="@(Preference.PauseOneDay?"checked":null)" />
        <br />

        Pause Alert permanently:
        <input type="checkbox" @bind-value="Preference.PauseAlert" checked="@(Preference.PauseAlert?"checked":null)" />
        <br />


    </div>
</div>

*@